.brand-name{
  width: 12rem;
  text-align:center;
  margin-top: 0.75rem;
}
.category-header{
  position: relative;
}
.brand-heading{
  color: var(--st-primary-text);
  border-bottom: none;
}
.brand-heading::after{
  content: '';
  background-color: var(--st-primary);
  width: 120px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-home{
  background-color: var(--st-white);
}
.sale-img-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.category-name{
  text-align:center;
}
.category-img{
  height: 250px;
  width: 100%;
  object-fit:cover;
  border: solid 2px var(--st-primary-text);
  border-radius: 1rem;
}
.main-foot{
  margin-top: 12rem;
}
.bag-icon{
  color: var(--st-primary-text);
}
.bag-icon:hover, 
.wishlist-icon:hover{
  color: var(--st-primary);
}
.nav-search:focus{
  outline: none;
}
.filter-head{
  display: flex; 
  gap: 2rem;
}
.filter-container{
  padding-left: 5px;
}
/* product list page */
.product-list-container{
  display: grid;
  grid-template-columns: repeat(4, 15rem);
}
.card-container{
  max-width: 20rem;
  height: 32rem;
}
.prod-img{
  position: static;
  height: 20rem;
  overflow: none;
}
.image{
  height: 18rem;
  width: 15rem;
  object-fit: cover;
}
.ratings-container{
  margin-left: auto;
}
.rating-star{
  color: var(--st-yellow);
}
.filter-category{
  padding-left: 0.5rem;
}
.filter-radio{
  font-family: var(--st-main-text);
}
.filter-sub-container{
  display: flex;
  flex-direction: row;
}
.category-list{
  display:block;
}
.wishlist-card{
  display: grid;
  grid-template-columns: repeat(3, 20rem);
}
.image{
  margin: auto;
}
.btn-primary-solid,.btn-primary-outline{
  border-radius: 0.3rem;
}
.btn-primary-solid:hover{
  color: var(--st-primary);
  background-color: var(--st-light-grey);
}
.btn-primary-outline:hover{
  background-color: var(--st-primary);
}
.link-primary-outline:hover{
  color: var(--st-white);
}