/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"); */
.brand-name{
  width: 12rem;
  text-align:center;
  margin-top: 0.75rem;
}
.category-header{
  position: relative;
}
.brand-heading{
  color: var(--st-primary-text);
  border-bottom: none;
}
.brand-heading::after{
  content: '';
  background-color: var(--st-primary);
  width: 120px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-home{
  background-color: var(--st-white);
}
.sale-img-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.category-name{
  text-align:center;
}
.category-img{
  height: 250px;
  width: 100%;
  object-fit:cover;
  border: solid 2px var(--st-primary-text);
  border-radius: 1rem;
}
.main-foot{
  margin-top:5rem;
}
.bag-icon{
  color: var(--st-primary-text);
}
.bag-icon:hover, 
.wishlist-icon{
  color: var(--st-primary);
}