.brand-name{
  width: 12rem;
  margin-top: 0.75rem;
}
.category-header{
  position: relative;
}
.brand-heading{
  color: var(--st-primary-text);
  border-bottom: none;
}
.main-home{
  background-color: var(--st-white);
  height: calc(100% - 80px);
}
.main-login{
  background-color: var(--st-white);
}
.sale-img-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.category-name{
  text-align:center;
}
.category-img{
  height: 250px;
  width: 100%;
  object-fit:cover;
  border: solid 2px var(--st-primary-text);
  border-radius: 1rem;
}
.bag-icon{
  color: var(--st-primary-text);
}
.bag-icon:hover, 
.wishlist-icon:hover{
  color: var(--st-primary);
}
.nav-search:focus{
  outline: none;
}
.filter-head{
  display: flex; 
  gap: 2rem;
}
.filter-container{
  padding-left: 5px;
}
/* product list page */
.product-list-container{
  display: grid;
  grid-template-columns: repeat(4, 15rem);
}
.card-container{
  min-width: 14rem;
  max-width: 50rem;
  height: 32rem;
}
.prod-img{
  position: static;
  height: 20rem;
  overflow: none;
}
.image{
  height: 18rem;
  width: 15rem;
  object-fit: cover;
}
.ratings-container{
  margin-left: auto;
}
.rating-star{
  color: var(--st-yellow);
}
.filter-category{
  padding-left: 0.5rem;
}
.filter-radio{
  font-family: var(--st-main-text);
}
.filter-sub-container{
  display: flex;
  flex-direction: row;
}
.category-list{
  display:block;
}
.wishlist-card{
  display: grid;
  grid-template-columns: repeat(3, 20rem);
}
.image{
  margin: auto;
}
.btn-primary-solid{
  border: 1px solid var(--st-primary);
  width: 98%;
  border-radius: 0.3rem;
}
.btn-primary-outline{
  border: solid var(--st-primary);
  width: 99%;
  border-radius: 0.3rem;
}
.order-detail-container{
  margin-top: 100px;
}
.cart-container{
  height: auto;
}
/* main-nav */
.main-nav{
  width: auto;
}
@media screen and (max-width: 720px) {
  .wishlist-icon,.bag-icon,.nav-search{
    display: none;
  }
  .filter-container{
    display: none;
  }
  .product-list-container{
    width: 98vw;
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  .sale-img-container{
    display: flex;
    flex-flow: column wrap;
  }
  .category-name{
    font-size: 1.1rem;
  }
  .category-img{
    width: 70%;
    height: 12rem;
    margin: auto;
  }
  .product-list-container{
    width: 97vw;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .card-container{
    width: 10rem;
  }
}
